/* Browser resets */
body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body {
  padding: 25px 50px;
}

p {
  margin: 0px;
}

/* Navigation Styles */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #424242;
}

.nav-link-item {
  list-style-type: none;
}

.nav-link-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link-list {
  display: flex;
}

.nav-link-item .nav-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #424242;
  text-decoration: none;
}

.nav-link-item .nav-link.active {
  padding-bottom: 8px;
  border-bottom: 2px solid #424242;
}

/* Jumbotron Styles */
.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 250px 60px;
}

.jumbotron .jumbotron-text {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
  color: #424242;
}

/* Masonry Tile Styles */
.project-tile-board {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.project {
  flex: auto;
}
.project:nth-of-type(odd){
  margin: 0px 20px 20px 0px;
}

.project-one-third {
  width: 547px;
  height: 468px;
}

.project-two-thirds {
  width: 773px;
  height: 468px;
}

.project-three-thirds {
  width: 1340px;
  height: 468px;
}
