/* Browser resets */
body, html {
  padding: 0px;
  margin: 0px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

main {
  padding: 25px 50px;
}

/* Navigation Styles */
.sticky-header.hide {
  display: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.logo-text {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #424242;
}

.logo-text:hover {
  color: #E7008C;
}

.nav-link-item {
  list-style-type: none;
}

.nav-link-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link-list {
  display: flex;
}

.nav-link-item .nav-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #424242;
  text-decoration: none;
}

.nav-link-item .nav-link  {
  padding-bottom: 8px;
}

.nav-link.active {
  border-bottom: 2px solid #E7008C;
}

.nav-link:hover {
  color: #E7008C;
  border-bottom: 2px solid #E7008C;
  transition: all 0.1s ease-in;
}

/* Jumbotron Styles */
.nav-link.text-white, .logo-text.text-white, .jumbotron .jumbotron-text.text-white {
  color: #ffffff;
}

.nav-link.text-white:hover, .logo-text.text-white:hover {
  color: #E7008C;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 250px 60px;
  flex-direction: column;
  max-width: 883px;
  margin: 0 auto;
}

.jumbotron .jumbotron-text {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
  color: #424242;
}

.about-page .jumbotron .jumbotron-text {
  font-size: 48px;
  line-height: 70px;
}

.about-page .jumbotron .jumbotron-quote-author {
  font-size: 48px;
  line-height: 70px;
}

/* Masonry Tile Styles */
.project-tile-board {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  position: relative;
}

.project {
  flex: auto;
  background: #C4C4C4;
  margin-bottom: 25px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 70px 40px;
  box-sizing: content-box;
  min-width: 150px;
}

.project-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.project-row .project:not(.project-three-thirds):first-child {
  margin-right: 25px;
}

.project-one-third {
  width: 33%;
  height: 398px;
}

.project-two-thirds {
  width: 66%;
  height: 398px;
}

.project-three-thirds {
  width: 100%;
  height: 398px;
}

.project-title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 70px;
  color: #000000;
}

.project-subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  color: #424242;
}

.horizontal-rule {
  border-bottom: 2px solid #000000;
  width: 75px;
  margin-top: 5px;
  margin-bottom: 30px;
  display: block;
}

.project:hover {
  transition: all .3s ease-in;
  color: #ffffff;
  background: rgba(231, 0, 140, 0.8);
}

.no-hover .project:hover {
  background: #C4C4C4;
}

.project:hover .project-title,
.project:hover .project-subtitle,
.project:hover .horizontal-rule {
  color: #ffffff;
}

.project:hover .horizontal-rule {
  border-bottom-color: #ffffff;
}
.container-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.project-wrap-link {
  height: 100%;
  width: 100%;
}

.detail-project-wrapper {
  margin-top: 1045px;
}

.project-image-tile {
  height: 800px;
  width: calc(83.3% + 100px);
  background: #C4C4C4;
  margin: 80px auto;
}

.project-image-tile:last-child {
  margin-bottom: -20px;
}

.blurb-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  color: #424242;
  max-width: 770px;
  margin: 0 auto;
}

.project-details-content {
  margin: 0 auto;
  max-width: 770px;
}

.project-details-content .project-subtitle {
  font-style: normal;
  margin-bottom: 20px;
}

.project-company, .project-role, .project-link {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #424242;
}

.project-link {
  text-decoration: underline;
}

.project-link:hover {
  color: #E7008C;
}

.next-button {
  background: #E7008C;
  width: 200px;
  height: 80px;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.next-button:hover {
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.75);
}

/* Footer Styles */
footer {
  position: relative;
  min-height: 260px;
  /* margin: 0px -50px; */
  background: #212121;
}

a[href^="mailto:"] {
  text-decoration: underline;
}

.footer-link:hover {
  color: #E7008C;
  text-decoration: underline;
}

.footer-slant {
  position: absolute;
  top: 0px;
  height: 400px;
  width: 100%;
  margin: -150px 0px;
  z-index: -1;
  background: #212121;
  transform: skewY(8deg);
  transform-origin: 100%;
}

.main-footer-container {
  margin-top: 80px;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.footer-horizontal-rule {
  width: 90px;
  margin: 15px auto 30px auto;
  display: block;
  border-bottom: 2px solid #FFFFFF;
}

/* About Page Styles */
.header-slant {
  position: absolute;
  top: -400px;
  height: 1200px;
  width: 100%;
  left: -50px
  margin: -150px 0px;
  z-index: -1;
  background: #212121;
  transform: skewY(-12deg);
  transform-origin: 100%;
}

.header-slant-gray {
  position: absolute;
  top: -400px;
  height: 1200px;
  width: 100%;
  left: -50px
  margin: -150px 0px;
  z-index: -1;
  background: #C4C4C4;
  transform: skewY(-12deg);
  transform-origin: 100%;
}

.about-content {
  height: 440px;
  margin-top: 360px;
}

.jumbotron-quote-author {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 85px;
  color: #FFFFFF;
  width: 100%;
}

.about-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  color: #424242;
  max-width: 770px;
  margin: 0 auto;
}

.about-text:not(:first-child){
  margin-top: 65px !important;
}

.body-slant {
  position: absolute;
  top: 44%;
  height: 50%;
  width: 100%;
  z-index: -1;
  background: #212121;
  opacity: 0.1;
  transform: skewY(6deg);
  transform-origin: 100%;
}

.detail-project-wrapper ~ footer {
  min-height: 390px;
}

/* Sticky Header Styles */

.sticky-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  background: #212121;
  display: flex;
  justify-content: space-between;
}

.sticky-header .logo-text > a:before {
  content: 'iLundy'
}
.sticky-header section:first-child {
  padding-top: 10px;
  padding-left: 50px;
}
.sticky-header section:last-child {
  padding-top: 10px;
  padding-right: 50px;
}
.sticky-header {
  z-index: 30;
  opacity: 0;
  transition: opacity 0.1s ease-in, height 0.1s ease-in, margin 0.5s ease-in;
}
.sticky-header.nav-up {
  margin-top: -76px;
}
.sticky-header.nav-down {
  height: 76px;
  opacity: 1;
}

/* Mobile Styles */

@media screen and (max-width: 600px){
  .nav-header {
    padding: 0px;
    padding-top: 25px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
  }
  .nav-link-list {
    padding: 0px;
  }
  main {
    width: 100%;
    padding: 0px;
    padding-top: 40px;
  }
  .jumbotron {
    margin: 40px 0px;
    padding: 0px;
  }
  .jumbotron .jumbotron-text {
    padding-left: 30px;
    font-size: 48px;
    line-height: 70px;
    padding-right: 30px;
  }
  .jumbotron-quote-author {
    padding: 0px 30px;
    width: auto;
    font-size: 48px;
    line-height: 70px;
  }
  .project-row {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .project {
    margin: 0px;
    width: 65%;
    flex: none;
    min-width: unset;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .project-row .project:not(.project-three-thirds):first-child {
    margin-right: 0px;
  }
  footer {
    margin-bottom: 300px;
  }
  .main-footer-container {
    padding: 0px 30px;
  }
  .about-content {
    margin-top: 260px;
    padding: 0px 30px;
    margin-bottom: 90px;
  }
  .project-details-content {
    padding: 0px 30px;
  }
  .project-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-image-tile {
    width: 85%;
  }
  .blurb-text {
    padding: 0px 50px;
    font-size: 14px;
    line-height: 25px;
  }
  .project-subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .detail-project-wrapper {
    margin-top: 760px;
  }
  .project-title {
    font-size: 48px;
    line-height: 70px;
  }
  .project-contact-details {
    font-size: 16px;
    line-height: 24px;
  }
  .sticky-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: #212121;
    display: flex;
    justify-content: space-between;
  }
  .sticky-header .logo-text > a:before {
    content: 'i';
  }
  .sticky-header section:first-child {
    padding-top: 10px;
    padding-left: 30px;
  }
  .sticky-header section:last-child {
    padding-top: 10px;
    padding-right: 30px;
  }
  .sticky-header {
    z-index: 30;
    opacity: 0;
    transition: opacity 0.1s ease-in, height 0.1s ease-in, margin 0.5s ease-in;
  }
  .sticky-header.nav-up {
    margin-top: -76px;
  }
  .sticky-header.nav-down {
    height: 76px;
    opacity: 1;
  }
}
